apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: jmc
data:
  dbInstanceConnectionName: "{{ .Values.dbInstanceConnectionName | b64enc }}"
  dbDatabaseName: "{{ .Values.dbDatabaseName | b64enc }}"
  dbDatabaseUser: "{{ .Values.dbDatabaseUser | b64enc }}"
  dbDatabasePassword: "{{ .Values.dbDatabasePassword | b64enc }}"